/*nav.navbar{
background-color: #a7ffeb;
}
nav.navbar ul.nav li{
color: black;
}*/
.header {
  background-size: cover;
  min-height: 100vh;
}

.cont-text {
  height: 12rem;
  background-color: #777;
  text-align: center;
}

.cont-text2 {
  height: 12rem;
  background-color: #777;
  text-align: center;
}

.cont-text p {
  padding-top: 6rem;
  font-family: "Montserrat";
  font-size: 4vw;
  color: #ccc;
}

.cont-text2 p {
  padding-top: 4rem;
  font-family: "Montserrat";
  font-size: 4vw;
  color: #ccc;
}

.carousel-inner {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
  background-color: #777;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


.noticias .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.noticias h2 {
  font-weight: 400;
}



.noticias .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.cont-about {
  height: auto;
  font-family: "Montserrat";
  font-size: 1.5vw;
  padding: 5rem;
}

.row {
  padding: 0;
  margin: 0;
}

.video {
  height: auto;
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.division-noticias {
  margin: 5rem 0;
}

.noticia-titulo {
  font-weight: 500;
  line-height: 1;
  letter-spacing: -.05rem;
  padding-top: 5em;
}

.presenta-imagen {
  height: 495px;
  width: 495px;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {

  .carousel {
    padding-top: 5rem;

  }


  .featurette-heading {
    margin-top: 7rem;
  }
}

.footer-basic {
  padding: 40px 0;
  background-color: rgb(85, 85, 85);
  color: rgb(255, 255, 255);
}

.footer-basic ul {
  font-family: "Montserrat";
  font-size: 1.5vw;
  padding: 0;
  list-style: none;
  text-align: center;
  font-weight: 800;
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  background-color: inherit;
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  font-size: 1.5vw;
  width: 1.2em;
  height: 1.2em;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 0.5em;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  font-weight: 800;
  font-style: italic;
  text-align: center;
  font-size: 1vw;
  color: #aaa;
  margin-bottom: 0;
}
