* {
    box-sizing: border-box;
}

body {
    margin: 0;
    
}

/* --------- FUENTE --------- */
@font-face {
    font-family: "montserrat-medium";
    src: url(../fonts/Montserrat-Medium.ttf);   
}
@font-face{
    font-family: "cabin-medium";
    src:url(../fonts/Cabin\ Sketch/CabinSketch-Regular.ttf) ;
}
@font-face{
    font-family: "monserrat-bold";
    src: url(../fonts/Montserrat-Bold.ttf)
}
main{
    background-color:#dbffff;
    padding-bottom: 2em;
}
/* --------- ENCABEZADO--------- */
.t-formulario{
    background-color: #75ccb9;
    padding: 3em;
}

.titulo-1{
    color:#dbffff;
    font-family:"cabin-medium" ;
    letter-spacing: 5px;
    font-size: 50px;
    margin-left: 5em;
   
    
}
.head-format{
    padding: 2em;
    background-color: #75ccb9;

}
.way-contact{
    background-color:#75ccb9;
    padding-bottom: 10em;
    
}

.titulo-contac{
    color:gray;
    font-family:"monserrat-medium";
    font-size: 1,5em;
    text-align: center;
}
.titulo-formulario{
    color:gray;
    font-family:"cabin-medium";
    font-size: 1,5em;
    text-align: center;
    padding: 1em;

}

.text-1{
    font-family: "monserrat-medium";
    font-size: 24px;
    text-align: center;
    color: grey;

}
.text-2{
    font-family: "monserrat-medium";
    font-size: 18px;
    text-align: center;
    color:#dbffff;

}

.text-3{
    font-family: "monserrat-medium";
    font-size: 20px;
    text-align: center;
    color:grey;

}


/* --------- FORMULARIO --------- */
.c-formulario{
    margin: 2em;
    width: 80%;
    position: relative;
    margin-top: -9em;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.texto-formulario{
    font-family: "montserrat-medium";
    text-align: center;
    font-size: 1em;
    padding:1em;
    
}



/*-------- iconos-----*/
.icono-grande{
    width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icono-small{
    color:#dbffff;
    padding-right: 2em;  
}

.icono-small:hover{
    color: #ffffb0;
    font-size: 24px;
}
.lista-media{
    text-align: center;
}

/*-------- formulario angie----*/

.formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    position: relative;
   
  }
  
  .formulario_titulo {
    text-align: center;
    margin-top: 0;
    color: #cab350 ;
    font-family:"cabin-medium" ;
    font-size:26px;
  }
  
  .formulario_input,
  .formulario_label,
  .formulario_submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
    border-radius: 10px;
  }
  
  .formulario_input {
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #75ccb9;
    margin-bottom: 40px;
  }
  
  .formulario_input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.849);
  }
  
  .formulario_input:focus+.formulario_label {
    margin-top: -135px;
  }
  
  .formulario_label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0, 0, 0, 0.822);
    transition: all 0.2s;
  }
  
  .formulario_submit {
    background: rgba(0, 0, 0, 0.856);
    color:grey;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin-bottom: 0px;
    cursor: pointer;
  }
  
  .fijar {
    margin-top: -135px;
  }
  
  .warnings {
  
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 30px;
    text-align: center;
    color: red;
  }
  
  body {
    background-image: url("../images/fondo-contactenos.jpg");
    height: 50vw;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .fontNavbar {
        font-size: 2em;
    }
    .t-formulario{
        padding: 1em;
    }
    
    .titulo-1{
        letter-spacing: 2px;
        font-size: 3em;
        margin-left:0em;
    }
    .c-formulario{
        margin: 0em;
        width: 100%;
        position: relative;
        margin-top: -1em;
    }
    .way-contact{
        padding-bottom: 1em;
    }
    .titulo-formulario{
        background-color: #ffe57f;
        padding: 1em;
    }
    
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .fontNavbar {
            font-size: 2em;
    }
    
    .titulo-1{
    letter-spacing: 2px;
    font-size: 3em;
    margin-left:0em; 
    }
   .c-formulario{
    margin: 0em;
    width: 100%;
    position: relative;
    margin-top: -1em;
    }
   .way-contact{
    padding-bottom: 1em;
   }
  .titulo-formulario{
    background-color: #ffe57f;
    padding: 1em;
   }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .fontNavbar {
            font-size: 2em;
    }
    .titulo-1{
        padding: 1em;
        font-size: 3em;
        margin-left: 1em; 
    }  
    .way-contact{
        padding-top: 0,5em;
    }
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

    .fontNavbar {
            font-size: 2em;
    }
    
    .titulo-1{
        font-size: 3em;
    }
    .titulo-contac{
        font-size: 1em;
    }
    .titulo-formulario{
        font-size: 1em;
        padding: 1em;
    }
    
    .text-1{
        font-size: 1em;  
    }
    .text-2{
        font-size: 1em;
    }
    
    .text-3{
        font-size: 1em;
    }
    
    .texto-formulario{ 
        font-size: 1em;
        padding:1em;  
    }
    
    .icono-small{
        padding-right: 2em;  
    }
    

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

    .fontNavbar {
            font-size: 2em;
    }
}

