@font-face {

        font-family: "Montserrat";
        src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face{
    font-family: "cabin-medium";
    src:url(../fonts/Cabin\ Sketch/CabinSketch-Regular.ttf) ;
}

.jumbotron {
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  min-width: 100%;

  text-align: center;
  padding-top: 30rem;
  padding-bottom: 20rem;
}
.jumbotron > h1{
  font-family:"cabin-medium"; ;
}
.division {
  margin: 5rem 0;
}
.patron{
  width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
    border-radius: 10px;
}
.section-header > h2{
 font-family: "cabin-medium";
 background-color: #a7ffeb;
}
 p{
   font-family:"Montserrat";
  font-size: 18px;
  opacity: 1;
}
.list-group-item{
  font-size: 18px;
}
#informacion .cta-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 3px;
    transition: 0.5s;
    margin: 10px;
    border: 3px solid #a7ffeb;;
    color: black;
}
.about-intro .divider {
    display: block;
    margin: 20px 0px;
    width: 400px;
    height: 2px;
    background-color:#a7ffeb;
  }
.cierre{
  font-family: "cabin-medium";
  background-color:  #a7ffeb;
  font-size: 40px;
}
p.mb4 {
    display: block;
}
@media (min-width: 487px){
.container {
    max-width: 750px;
}
@media (min-width: 768px){
.col-md-6 {
    max-width: 50%;
}
@media (min-width: 992px){
  .col-lg-6 {
    max-width: 50%;
    padding-left: 5em;
    padding-right: 5em;
}
.col-md-4{
  width: 33.3%;
}
}