html, body {
    height: 100%;
    width: 100%;
    margin:0;
}
@font-face {
        font-family: "Montserrat";
        src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face{
    font-family: "cabin-medium";
    src:url(../fonts/Cabin\ Sketch/CabinSketch-Regular.ttf);
}

.jumbotron {
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;

  text-align: center;

}
.jumbotron > h1{
  margin-top: 4em;

  font-family:"cabin-medium"; ;
}
.division {
  margin: 5rem 0;
}
.patron{
  width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
    border-radius: 10px;
}
.section-header > h2{
 font-family: "cabin-medium";
 background-color: #a7ffeb;
}
 p{
   font-family:"Montserrat";
  font-size: 18px;
  opacity: 1;
}
.list-group-item{
  font-size: 18px;
}
#informacion .cta-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 3px;
    transition: 0.5s;
    margin: 10px;
    border: 3px solid #a7ffeb;;
    color: black;
}
.about-intro .divider {
    display: block;
    margin: 20px 0px;
    width: 400px;
    height: 2px;
    background-color:#a7ffeb;
  }
.cierre{
  font-family: "cabin-medium";
  background-color:  #a7ffeb;
  font-size: 40px;
}
.libros-section {
  position: relative;
  background: #ffffff;
  z-index: 1;
}
.libros-section .section-title p {
  font-size: 15px;
  line-height: 26px;
  color: #777777;
  font-weight: 400;
  padding-bottom: 30px;
}
.libros-section .libro-item {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.libros-section .libro-item img {
  width: 100%;
}

.libros-section .libro-item .contenido {
  background: #fff;
  padding: 20px 10px;
}