/* ------------------ Estilos Generales ------------------ */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* --------- FUENTE --------- */
@font-face {
    font-family: "montserrat-medium";
    src: url(../fonts/Montserrat-Medium.ttf);   
}
@font-face{
    font-family: "cabin-medium";
    src:url(../fonts/Cabin\ Sketch/CabinSketch-Regular.ttf) ;
}
@font-face{
    font-family: "monserrat-bold";
    src: url(../fonts/Montserrat-Bold.ttf)
}

/* --------- titulos --------- */

.titulo-mate1{
    font-family:"cabin-medium";
    color:grey;
    font-size: 3em;
    padding: 0,5em;
    text-align: center;
 
}
 
.titulo-mate2{
     font-family:"montserrat-medium" ;
     color:grey;
     font-size: 2,5 em;
     padding: 0,5em;
     text-align: center;
}
 
.titulo-0{
     font-family:"monserrat-bold" ;
     color:gray;
     letter-spacing: 1em;
 
     text-align: center;
     padding-top: 3em;
     padding-bottom: 2em;
    
    
}

.titulo-pri{
    font-size: 3em;
    color: gray;
    letter-spacing: 20px;
}



/* --------- TEXTO--------- */
.mate-text{
    font-family: "montserrat-medium";
    color: grey;
    font-size: 0,1em;
    padding: 1em;
    align-content: center;
    flex-direction: column;
    padding-top: 0,5 em;
}



/* --------- CONTENEDORES --------- */
.div-titulo{
    background-color: #a7ffeb;
}


.mate-primero{
    background-color:#dbffff ;
    padding: 2em;
   
    
    
}
.mate-segundo{
    background-color:#ffffff;
    padding: 2em;
    
}
/* --------- Navbar --------- */


 
   

/* --------- FOOTER--------- */
.footer-basic {
    padding: 40px 0;
    background-color: #75ccb9;
    color:grey ;
  
  
  }
  
  .footer-basic ul {
  
    font-family: "Montserrat";
    font-size: 1.5vw;
    padding: 0;
    list-style: none;
    text-align: center;
    font-weight: 800;
    font-style: italic;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .footer-basic li {
  
    background-color: inherit;
    padding: 0 10px;
  }
  
  .footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer-basic ul a:hover {
    opacity: 1;
  }
  
  .footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
  }
  
  .footer-basic .social>a {
    font-size: 1.5vw;
    width: 1.2em;
    height: 1.2em;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #cab350;
    margin: 0 0.5em;
    color: inherit;
    opacity: 0.75;
  
  }
  
  .footer-basic .social>a:hover {
  
    opacity: 0.9;
  }
  
  .footer-basic .copyright {
  
    margin-top: 15px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    font-size: 1vw;
    color: #aaa;
    margin-bottom: 0;
  }
  /*----conflicto luisa---*/
  .footer-basic {
    padding: 40px 0;
    background-color: #75ccb9;
    color: rgb(95, 93, 93);
  
  
  }
  
  .footer-basic ul {
  
    font-family: "Montserrat";
    font-size: 1.5vw;
    padding: 0;
    list-style: none;
    text-align: center;
    font-weight: 800;
    font-style: italic;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .footer-basic li {
  
    background-color: inherit;
    padding: 0 10px;
  }
  
  .footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer-basic ul a:hover {
    opacity: 1;
  }
  
  .footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
  }
  
  .footer-basic .social>a {
    font-size: 1.5vw;
    width: 1.2em;
    height: 1.2em;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ffe57f;
    margin: 0 0.5em;
    color: inherit;
    opacity: 0.75;
  
  }
  
  .footer-basic .social>a:hover {
  
    opacity: 0.9;
  }
  
  .footer-basic .copyright {
  
    margin-top: 15px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    font-size: 1vw;
    color: #ffe57f;
    margin-bottom: 0;
  }