/* ------------------ Estilos Generales ------------------ */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* --------- FUENTE --------- */
@font-face {
    font-family: "montserrat-medium";
    src: url(../fonts/Montserrat-Medium.ttf);   
}
@font-face{
    font-family: "cabin-medium";
    src:url(../fonts/Cabin\ Sketch/CabinSketch-Regular.ttf) ;
}
@font-face{
    font-family: "monserrat-bold";
    src: url(../fonts/Montserrat-Bold.ttf)
}

/* --------- titulos --------- */

.titulo-mate1{
    font-family:"cabin-medium";
    color:grey;
    text-align: center;
    font-size: 3em;
    padding: 0,5em;
 
}
 
.titulo-mate2{
     font-family:"montserrat-medium" ;
     color:grey;
     text-align: center;
     font-size: 2,5 em;
     padding: 0,5em;
}
 
.titulo-0{
     font-family:"monserrat-bold" ;
     color:gray;
     letter-spacing: 1em;
 
     text-align: center;
     padding-top: 2em;
     padding-bottom: 1em;
      
}

.titulo-pri{
    font-size: 3em;
    color: gray;
    letter-spacing: 20px;
}



/* --------- TEXTO--------- */
.mate-text{
    font-family: "montserrat-medium";
    color: grey;
    font-size: 0,1em;
    padding: 1em;
    align-content: center;
    flex-direction: column;
    padding-top: 0,5 em;
}


/* --------- CONTENEDORES --------- */
.div-titulo{
    background-color: #a7ffeb;
}


.mate-primero{
    background-color:#dbffff ;
    padding: 2em;
    text-align: justify;  
}
.mate-segundo{
    background-color:#ffffff;
    padding: 2em;
    text-align: justify;  
}

.img-text{
    vertical-align: middle;
    padding-top: 1em;
}