@font-face {

        font-family: "Montserrat";
        src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
        font-family: "IntroRust-BaseLine";
        src: url("../fonts/IntroRust-BaseLine.otf");
}


.col-md-12 h1 {
        font-family: "IntroRust-BaseLine";
        font-style: italic;
        font-weight: 1200;
        color: white;
}

.fontNombrePage {
        font-family: "Montserrat";
        font-weight: 800;
        font-style: italic;
        padding-left: 150px;
}

.fontNavbar {
        font-family: "Montserrat";
        font-weight: 800;
        margin-right: 1.5em;
}

.g1 {
        background-color: firebrick;
}

.g2 {
        background-color: rgb(13, 112, 21);
}

#parallax {
        background-image: url("../images/paralax.jpg");
        height: 50vw;
        margin-bottom: 50px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

/* Móviles en vertical */
@media (max-width: 479px) {
        .col-md-12 h1 {
                font-size: 5em;
        }

        .fontNombrePage {
                font-size: 5em;
        }

        .fontNavbar {
                font-size: 2em;
        }
}


/* Móviles en vertical */
@media (max-width: 480px) {
        .col-md-12 h1 {
                font-size: 5em;
        }

        .fontNombrePage {
                font-size: 5em;
        }

        .fontNavbar {
                font-size: 2em;
        }
}


/* Móviles en horizontal o tablets en vertical */
@media (max-width: 767px) {
        .col-md-12 h1 {
                font-size: 50px;
        }

        .fontNombrePage {
                font-size: 5em;
        }

        .fontNavbar {
                font-size: 2em;
        }
}


/* Tablets en horizonal y escritorios normales */
@media (min-width: 768px) {
        .col-md-12 h1 {
                font-size: 100px;
        }

        .fontNombrePage {
                font-size: 5em;
        }

        .fontNavbar {
                font-size: 2em;
        }
}