/* ------------------ Estilos Generales ------------------ */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* --------- FUENTE --------- */
@font-face {
    font-family: "montserrat-medium";
    src: url(../fonts/Montserrat-Medium.ttf);   
}
@font-face{
    font-family: "cabin-medium";
    src:url(../fonts/CabinSketch-Regular.ttf) ;
}
@font-face{
    font-family: "monserrat-bold";
    src: url(../fonts/Montserrat-Bold.ttf)
}

/* --------- titulos --------- */

.titulo-mate1{
    font-family:"cabin-medium";
    color:grey;
    font-size: 2em;
    padding: 0,5em;
 
}
 
.titulo-mate2{
     font-family:"montserrat-medium" ;
     color:grey;
     font-size: 2,5 em;
     padding: 0,5em;
}
 
.titulo-0{
     font-family:"montserrat-medium" ;
     color:#75ccb9;
 
     text-align: center;
     font-size: 3 em;
}


/* --------- TEXTO--------- */
.mate-text{
    font-family: "montserrat-medium";
    color: grey;
    font-size: 0,3em;
    padding: 1em;
    align-content: center;
    flex-direction: column;
    padding-top: 0,5 em;
}



/* --------- CONTENEDORES --------- */
.mate-primero{
    background-color:#ffffb0;
    padding: 1em;
    
}
.mate-segundo{
    background-color:#dbffff;
    padding: 1em;
}
/* --------- IMAGENES --------- */

    
   

/* --------- FOOTER--------- */
.footer-basic {
    padding: 40px 0;
    background-color: rgb(85, 85, 85);
    color: rgb(255, 255, 255);
  
  
}
  
.footer-basic ul {
  
    font-family: "Montserrat";
    font-size: 1.5vw;
    padding: 0;
    list-style: none;
    text-align: center;
    font-weight: 800;
    font-style: italic;
    line-height: 1.6;
    margin-bottom: 0;
}
  
.footer-basic li {
  
    background-color: inherit;
    padding: 0 10px;
}
  
.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
  
.footer-basic ul a:hover {
    opacity: 1;
}
  
.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}
  
.footer-basic .social>a {
    font-size: 1.5vw;
    width: 1.2em;
    height: 1.2em;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 0.5em;
    color: inherit;
    opacity: 0.75;
  
}
  
.footer-basic .social>a:hover {
  
    opacity: 0.9;
}
  
.footer-basic .copyright {
  
    margin-top: 15px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    font-size: 1vw;
    color: #aaa;
    margin-bottom: 0;
}